---
- name: Secure mongo installation
  template:
    src: mongod.conf.j2
    dest: /etc/mongod.conf
  notify: restart mongodb

- name: Create keyfile
  template:
    src: keyfile.j2
    dest: /etc/mongo_key
    owner: "{{ mongodb_system_user }}"
    group: "{{ mongodb_system_group }}"
    mode: 0700
