# {{ ansible_managed }}

# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# Where and how to store data.
storage:
  dbPath: /data/db
  journal:
    enabled: true

# network interfaces
net:
  port: 27017
  bindIp: 0.0.0.0

#processManagement:

security:
  keyFile: /data/configdb/keyfile
  authorization: enabled

#operationProfiling:

{% if mongodb_replica_name != None and groups[mongodb_hosts_group] | length > 2 %}
replication:
  replSetName: {{ mongodb_replica_name }}
{% endif %}

#sharding:

## Enterprise-Only Options:

#auditLog:

#snmp:
