# {{ ansible_managed }}

systemLog:
  destination: file
  path: {{ mongodb_log_dir }}/mongodb.log
  logAppend: true

storage:
  dbPath: {{ mongodb_database_dir }}
  journal:
    enabled: true

net:
  port: {{ mongodb_port }}
  bindIp: localhost,{{ mongodb_address }}

{% if mongodb_replica_name != None and groups[mongodb_hosts_group] | length > 2 %}
replication:
  replSetName: {{ mongodb_replica_name }}
{% endif %}

